<div class='bc-card'>
  <img src='{{this.image_url}}' alt={{this.image_url}}/>
  <div class='bc-content'>
    <div class='bc-name'>{{this.name}}</div>
    <div class='bc-tagline'>{{this.tagline}}</div>
    <div class='bc-description'>{{this.description}}</div>
  </div>
</div>